#Top
{
background-color:#FAEBD7;
height:30px;
width:100%;
}
#Header
{
background-color:none;
}
#Header img
{
 height:80px;
}
#Header ul
{
float:right;
margin-top:25px;
}
#Header ul li
{
display:inline;
margin-right:30px;
}
#Header ul li a
{
color:navy;
text-decoration:none;
font-size:18px;
}

.jumbotron
{
	height:150%;
	width:100%;
}


#multi-item-example1
{
	width:100%;
	margin:0px auto;
	padding-left:80px;
	padding-right:80px;
	padding-bottom:20px;
	padding-top:20px;
}

#multi-item-example2
{
	width:100%;
	margin:0px auto;
	padding-left:80px;
	padding-right:80px;
	padding-bottom:20px;
	padding-top:20px;
}

#multi-item-example3
{
	width:100%;
	margin:0px auto;
	padding-left:80px;
	padding-right:80px;
	padding-bottom:20px;
	padding-top:20px;
}

#multi-item-example4
{
	width:100%;
	margin:0px auto;
	padding-left:80px;
	padding-right:80px;
	padding-bottom:20px;
	padding-top:20px;
}
